<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>Porudžbina nije uspešno obavljena!</h2>
        <p>Molimo vas dodajte kartu u korpu kako bi izvršili porudžbinu</p>
        <hr />
        <p> Hvala !</p>
        <a class="btn btn-primary"asp-controller="Concerts" asp-action="Index">
            Povratak
        </a>
    </div>
</div>