<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Porudžbina je uspešno obavljena</h2>
        <p> Možete proveriti sve vaše porudžbe u sekciji porudžbe vašeg profila</p>
        <hr />
        <p> Hvala Vam!</p>
        <a class="btn btn-primary"asp-controller="Concerts" asp-action="Index">
            Povratak
        </a>
    </div>
</div>